<% content_for :submenu do %>
  <%= render :partial => "layouts/submenu_channels" %>
<% end %>

<div class="list_1">
  <div class="list_title">
    <div class="list_title_left">查看频道</div>
    <div class="list_title_right"></div>
  </div>
  <div class="tab_content">
    <table width="100%" border="1" cellpadding="0" cellspacing="0" class="table1">
      <tr>
      	<td>名称：</td>
      	<td><%= @channel.title %></td>
      </tr>
      <tr>
      	<td>Follow：</td>
      	<td><%= @channel.follow %></td>
      </tr>
      <tr>
      	<td colspan="2"><%= @channel.description %></td>
      </tr>
    </table>
  </div>
</div>