<% content_for :submenu do %>
  <%= render :partial => "layouts/submenu_students" %>
<% end %>

<div class="list_1">
  <div class="list_title">
    <div class="list_title_left">导入学生信息</div>
    <div class="list_title_right"></div>
  </div>
  <div class="tab_content">
  	<%= form_tag 'import' do -%>
    <input type="file" name="file" />
  	<% end -%>
  </div>
</div>