<div class="box">
    <div class="title">
        <h5>查看学生</h5>
    </div>
    <div class="table">
        <table>
          <tr>
            <td>姓名</td>
            <td class="last"><%= @student.name %></td>
          </tr>
          <tr>
            <td>学号</td>
            <td class="last"><%= @student.no %></td>
          </tr>
          <tr>
            <td>邮箱</td>
            <td class="last"><%= @student.email %></td>
          </tr>
        </table>
    </div>
</div>

