<% content_for :submenu do %>
  <%= render :partial => "layouts/submenu_students" %>
<% end %>

<div class="list_1">
  <div class="list_title">
    <div class="list_title_left">导入学生信息</div>
    <div class="list_title_right"></div>
  </div>
  <div class="tab_content">
  	<%= form_tag('import', :multipart => true) do -%>
      <div class="field">
      文件：<input type="file" name="file" class="input_1" />
      </div>
      <div class="btn_box">
        <input type="submit" value="导入" class="btn_2" />
      </div>
  	<% end -%>
  </div>
</div>