<div class="box">
  <%= render "report_time" %>
</div>

<div class="box">
  <%= render "report_device" %>
</div>

<div class="box">
  <%= render "report_version" %>
</div>

<div class="box">
  <%= render "report_method" %>
</div>