body{
	padding: 0;
	margin: 0;
	background-color: #F8F8F8;
	display: block;
	font-family:"Helvetica Neue",Helvetica,微软雅黑，Arial,sans-serif;
	font-size:15px;
	line-height:18px;
}

div{
	display: block;
}

.topbar{
	height: 60px;
	width: 100%;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f3f3f3), to(#cdcdcd));
	background: -moz-linear-gradient(top left 90deg, #f3f3f3, #cdcdcd);
}

.logo{
	width: 73px; 
	height: 40px;
	background: url(../img/we_logo.png);
	float: left;
	margin-top: 10px;
}

.topbar .container{
	height: 100%;
	width: 50%;
	position: relative;
	left: 25%;
	right: 25%;
}

.homepage{
	float: right;
	right: 10%;;
	margin-top: 24px;
	color: #D7DFEA;
}

a{
	cursor: pointer;
	text-decoration: none;
}

.content{
	margin: 0;
	padding-top: 2em;
	padding-left: 25%;
	padding-right: 25%;;
}

.top-input{
	clear: both;
	margin-bottom: 10px;
	overflow: hidden;
}