<% @title = "周边推荐" %>
<% @description = "校园周边推荐" %>
<% @controller = "资讯" %>
<% @action = "周边推荐" %>

<div class="portlet box light-grey">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>周边推荐</div>
    </div>
    <div class="portlet-body form">
	<%= render 'form' %>
	</div>
</div>