<div class="box">
    <div class="title">
        <h5>查看组织</h5>
    </div>
    <div class="table">
        <table>
          <tr>
            <td>名称</td>
            <td class="last"><%= @organizer.name %></td>
          </tr>
          <tr>
            <td>说明</td>
            <td class="last"><%= @organizer.description %></td>
          </tr>
          <tr>
            <td>头像</td>
            <td class="last"><%= image_tag @organizer.icon.url %></td>
          </tr>
        </table>
    </div>
</div>