<div id="login">
<% unless @user.nil? %>
  
  <!-- login -->
  <div class="title">
    <h5>欢迎您,<%= @user.name %>(<%= @user.no %>)</h5>
    <div class="corner tl"></div>
    <div class="corner tr"></div>
  </div>
  <div class="inner">
    <form method="post" action="reset_password?token=<%= @user.reset_password_token %>">
    <div class="form">
      <!-- fields -->
      <div class="fields">
        <div class="field">
          <div class="label">
            <label for="username">新密码:</label>
          </div>
          <div class="input">
            <input type="password" name="password" class="focus" size="40" />最少六位字符.
          </div>
        </div>
        <div class="field">
          <div class="label">
            <label for="password">重复密码:</label>
          </div>
          <div class="input">
            <input type="password" name="password_confirmation" class="focus" size="40" />请重复输入.
          </div>
        </div>
        <div class="buttons">
          <input type="submit" value="修改密码" />
        </div>
      </div>
      <!-- end fields -->
    </div>
    </form>
  </div>
  <!-- end login -->

<% else %>
  <div class="title">
    <h5>TOKEN已经失效.</h5>
    <div class="corner tl"></div>
    <div class="corner tr"></div>
  </div>

<% end %>

</div>