<% unless @user.nil? %>
  <form method="post" action="users/reset_password?token=<%= @user.reset_password_token %>">
    欢迎您,<%= @user.name %>(<%= @user.no %>)<br />
      新密码:<input type="password" name="password" /><br />
      重复密码:<input type="password" name="password_confirmation" /><br />
      <input type="submit" value="确认修改" />
  </form>
<% else %>
TOKEN已经失效.
<% end %>