<% unless @user.nil? %>
  <form method="post" action="reset_password?token=<%= @user.reset_password_token %>">
    <table>
      <tr>
        <td colspan="2">欢迎您,<%= @user.name %>(<%= @user.no %>)</td>
        <td></td>
      </tr>
      <tr>
        <td>新密码:</td>
        <td><input type="password" name="password" />最少六位字符.</td>
      </tr>
      <tr>
        <td>重复密码:</td>
        <td><input type="password" name="password_confirmation" /></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="确认修改" /></td>
      </tr>
    <table>
  </form>
<% else %>
TOKEN已经失效.
<% end %>