<% @title = "广告" %>
<% @description = "置顶广告" %>
<% @controller = "广告" %>
<% @action = "创建广告" %>

<div class="portlet box light-grey">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>创建广告</div>
    </div>
    <div class="portlet-body form">
	<%= render 'form' %>
	</div>
</div>