<div class="content_box">
	<div class="sign_box">
		<h2>登陆</h2>
		<div class="sign_col">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<p>邮箱</p>
			<label>
				<%= f.email_field :email, :class => "input_1" %>
			</label>
			<p>密码</p>
			<label>
				<%= f.password_field :password, :class => "input_1" %>
			</label>
			<label>
				<%= f.submit "登录",:class => "btn_2" %>
			</label>
			<% end %>
		</div>
	</div>
	<div class="clear"></div>
</div>