<div id="login">
	<!-- login -->
	<div class="title">
		<h5>登录微同济服务端管理系统</h5>
		<div class="corner tl"></div>
		<div class="corner tr"></div>
	</div>
	<div class="inner">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<div class="form">
			<!-- fields -->
			<div class="fields">
				<div class="field">
					<div class="label">
						<label for="username">邮箱:</label>
					</div>
					<div class="input">
						<%= f.email_field :email, :class => "focus", :size => 40 %>
					</div>
				</div>
				<div class="field">
					<div class="label">
						<label for="password">密码:</label>
					</div>
					<div class="input">
						<%= f.password_field :password, :class => "focus", :size => 40 %>
					</div>
				</div>
				<div class="buttons">
					<input type="submit" value="登录" />
					<input type="submit" value="注册" onclick="window.location.href='/organizer_registers/new';return false;" />
				</div>
			</div>
			<!-- end fields -->
		</div>
		<% end %>
	</div>
	<!-- end login -->
</div>