<!-- Login block -->
<div class="login">
    <div class="navbar">
        <div class="navbar-inner">
            <h6><i class="icon-user"></i>登陆微同济服务端管理系统</h6>
            <div class="nav pull-right">
                <a href="#" class="dropdown-toggle navbar-icon" data-toggle="dropdown"><i class="icon-cog"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="<%= new_admin_registration_path(resource) %>"><i class="icon-plus"></i>申请管理账号</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="well">
    	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "row-fluid" }) do |f| %>
            <div class="control-group">
                <label class="control-label">邮箱</label>
                <div class="controls">
                	<%= f.text_field :email, :class => "span12" %>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">密码:</label>
                <div class="controls">
                	<%= f.password_field :password, :class => "span12" %>
                </div>
            </div>

            <div class="login-btn"><input type="submit" value="登陆" class="btn btn-danger btn-block" /></div>
        <% end %>
    </div>
</div>
<!-- /login block -->