<div id="content">
	<div class="box">
		<div class="title">
			<h5>您的申请已经收到</h5>
		</div>
		<h2>您的申请已经收到</h2>
		<p class="start">您的申请已经收到，请耐心等待管理员对您的申请做出审核，我们会在3个工作日内告知您审核的结果，届时请留意查收邮件。
		批准的话直接发一封确认邮件到用户的注册邮箱，内容为“恭喜！微同济后台管理员已批准您所在的社团加入微同济校园社团联盟的大家庭，请使用当前邮箱作为帐号登录微同济后台 <a href="http://we.tongji.edu.cn/dashboard">http://we.tongji.edu.cn/dashboard</a>，如有问题需要协助请发邮件到 <a href="mailto:we@tongji.edu.cn">we@tongji.edu.cn</a> 或使用新浪微博私信 <a href="http://weibo.com/wetongji">@wetongji</a>。
		</p>
		<div class="form">
			<form action="/" method="get">
			<div class="fields">
				<div class="buttons">
					<div class="highlight">
						<input type="submit" value="知道了" />
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>