<div id="content">
	<div class="box">
		<div class="title">
			<h5>您的申请已经收到</h5>
		</div>
		<h2>您的申请已经收到</h2>
		<p class="start">您的申请已经收到，请耐心等待管理员对您的申请做出审核，我们会在3个工作日内告知您审核的结果，请留意查收邮件。
		</p>
		<div class="form">
			<form action="/" method="get">
			<div class="fields">
				<div class="buttons">
					<div class="highlight">
						<input type="submit" value="知道了" />
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>