<div class="box">
    <div class="title">
        <h5>导入课程信息</h5>
    </div>
    <div class="table">
    <%= form_tag('import', :multipart => true) do -%>
      <div class="form">
        <div class="fields">
          <div class="field field-first">
            <div class="label">
              <label>文件</label>
            </div>
            <div class="input">
              <input type="file" name="file" class="small" />
            </div>
          </div>
          <div class="buttons">
            <input type="submit" name="submit" value="导入" />
          </div>
        </div>
      </div>
    <% end %>
    </div>
</div>
