<div class="list_1">
  <div class="list_title">
    <div class="list_title_left">编辑活动</div>
    <div class="list_title_right"></div>
  </div>
  <div class="tab_content">
	<%= render 'form' %>
  </div>
</div>