<% @title = "活动" %>
<% @description = "校园活动或者校园周边活动" %>
<% @controller = "活动" %>
<% @action = "创建活动" %>

<div class="portlet box light-grey">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>创建活动</div>
    </div>
    <div class="portlet-body form">
	<%= render 'form' %>
	</div>
</div>