<div id="footer">
	<div class="copyrights">&copy;  微同济.</div>
	<ul class="footer-links">
		<li><a href="" title=""><i class="icon-cogs"></i>联系管理员</a></li>
		<li><a href="" title=""><i class="icon-screenshot"></i>报告问题</a></li>
	</ul>
</div>