<!-- BEGIN TOP NAVIGATION BAR -->
<div class="navbar-inner">
	<div class="container-fluid">
		<!-- BEGIN LOGO -->
		<a class="brand" href="/">
		<img src="/assets/img/logo.png" alt="logo" />
		</a>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
		<img src="/assets/img/menu-toggler.png" alt="" />
		</a>          
		<!-- END RESPONSIVE MENU TOGGLER -->            
		<!-- BEGIN TOP NAVIGATION MENU -->              
		<ul class="nav pull-right">             
			<!-- BEGIN USER LOGIN DROPDOWN -->
			<li class="dropdown user">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
				<img alt="" src="/assets/img/avatar1_small.jpg" />
				<span class="username"><%= current_admin.name %></span>
				<i class="icon-angle-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li><a href="<%= admin_path(current_admin) %>"><i class="icon-user"></i> 账户信息</a></li>
					<li><a href="page_calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>
					<li><a href="inbox.html"><i class="icon-envelope"></i> My Inbox <span class="badge badge-important">3</span></a></li>
					<li><a href="#"><i class="icon-tasks"></i> My Tasks <span class="badge badge-success">8</span></a></li>
					<li class="divider"></li>
					<li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> 全屏</a></li>
					<li><a href="extra_lock.html"><i class="icon-lock"></i> Lock Screen</a></li>
					<li>
						<%= link_to destroy_admin_session_path, :method => :delete do %>
							<i class="icon-key"></i> 注销
						<% end %>
					</li>
				</ul>
			</li>
			<!-- END USER LOGIN DROPDOWN -->
			<!-- END USER LOGIN DROPDOWN -->
		</ul>
		<!-- END TOP NAVIGATION MENU --> 
	</div>
</div>
<!-- END TOP NAVIGATION BAR -->