<h3 class="page-title">
	<%= @title %> <small><%= @description %></small>
</h3>
<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<%= @controller %> 
		<i class="icon-angle-right"></i>
	</li>
	<li>
		<%= @action %>
	</li>
</ul>