<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<%= csrf_meta_tags %>
<title>微同济服务端系统 v3.0</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<!--[if IE 8]><link href="/css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 9]><link href="/css/ie9.css" rel="stylesheet" type="text/css" /><![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="/js/files/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/files/jquery-ui-1.9.2.min.js"></script>

<script type="text/javascript" src="/js/plugins/forms/jquery.uniform.min.js"></script>

<script type="text/javascript" src="/js/files/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/files/login.js"></script>
<%= javascript_include_tag "application" %>
</head>

<body class="no-background">

	<!-- Fixed top -->
	<div id="top">
		<div class="fixed">
			<a href="index.html" title="" class="logo"><img src="/img/logo.png" alt="" /></a>
			<ul class="top-menu">
				<li class="dropdown">
					<a class="login-top" data-toggle="dropdown"></a>
					<ul class="dropdown-menu pull-right">
						<li><a href="/" title=""><i class="icon-remove"></i>返回首页</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /fixed top -->

	<%= yield %>

	<!-- Footer -->
	<div id="footer">
		<div class="copyrights">&copy;  微同济.</div>
		<ul class="footer-links">
			<li><a href="" title=""><i class="icon-cogs"></i>联系管理员</a></li>
			<li><a href="" title=""><i class="icon-screenshot"></i>报告问题</a></li>
		</ul>
	</div>
	<!-- /footer -->

</body>
</html>
