  <div class="sidebar_left">
    <div class="board">
      <h2>概览</h2>
      <p>&middot;&nbsp;&nbsp;你的淘宝店铺有&nbsp;<font class="green_color">1个</font><br />
        &middot;&nbsp;&nbsp;你的APP有&nbsp;<font class="green_color">1个</font><br/>
        &middot;&nbsp;&nbsp;你的APP一共被下载&nbsp;<font class="green_color">35678次</font><br />
        <font class="red_color">同步成功</font> </p>
    </div>
    <div class="base_info">
      <h2>基本信息</h2>
      <p class="left_tab">名称：
        <label>
        <input type="text" name="textfield" id="textfield" class="input_1"/>
        </label>
        <br />
        图标：
        <label>
        <input type="text" name="textfield" id="textfield" class="input_1"/>
        </label>
        <br/>
        模板：
        <label>
        <select name="select" id="select" >
          <option>请选择</option>
        </select>
        </label>
      </p>
      <div class="btn_box">
        <label>
        <input type="submit" name="button" id="button" value="上一步" class="btn_2"/>
        </label>
        <label>
        <input type="submit" name="button2" id="button2" value="下一步"  class="btn_2"/>
        </label>
      </div>
    </div>
    <div class="base_info">
      <h2>修改信息</h2>
      <p class="left_tab">AAA：
        <label>
        <input type="text" name="textfield" id="textfield" class="input_1"/>
        </label>
        <br />
        BBB：
        <label>
        <input type="text" name="textfield" id="textfield" class="input_1"/>
        </label>
        <br/>
        CCC：
        <label>
        <input type="text" name="textfield" id="textfield" class="input_1"/>
        </label>
      </p>
      <div class="btn_box">
        <label>
        <input type="submit" name="button" id="button" value="修改" class="btn_2"/>
        </label>
      </div>
    </div>
    <div class="base_info">
      <h2>修改密码</h2>
      <p class="left_tab">旧密码：
        <label>
        <input type="text" name="textfield" id="textfield" class="input_1"/>
        </label>
        <br />
        密&nbsp;&nbsp;&nbsp;码：
        <label>
        <input type="text" name="textfield" id="textfield" class="input_1"/>
        </label>
        <br/>
        确&nbsp;&nbsp;&nbsp;认：
        <label>
        <input type="text" name="textfield" id="textfield" class="input_1"/>
        </label>
      </p>
      <div class="btn_box">
        <label>
        <input type="submit" name="button" id="button" value="修改" class="btn_2"/>
        </label>
      </div>
    </div>
  </div>
  <div class="sidebar_right">
    <div class="list_1">
      <h2>趋势</h2>
      <div class="list_1_img"><img src="images/pho.gif" alt="" /> </div>
    </div>
    <div class="list_1">
      <div class="list_title">
        <div class="list_title_left">商店列表</div>
        <div class="list_title_right">
          <label>
          <input type="submit" name="button" id="button" value="添加商店" class="btn_right"/>
          </label>
        </div>
      </div>
      <div class="tab_content">
        <div class="warning">
          <div class="close"><a href="#"><img src="images/cross_grey_small.png" alt="close" /></a></div>
          <p>警告</p>
        </div>
        <div class="information">
          <div class="close"><a href="#"><img src="images/cross_grey_small.png" alt="close" /></a></div>
          <p>通知</p>
        </div>
        <div class="success">
          <div class="close"><a href="#"><img src="images/cross_grey_small.png" alt="close" /></a></div>
          <p>正确</p>
        </div>
        <div class="error">
          <div class="close"><a href="#"><img src="images/cross_grey_small.png" alt="close" /></a></div>
          <p>错误</p>
        </div>
        <table width="100%" cellpadding="0" cellspacing="0" class="table1">
          <thead>
            <tr>
              <th width="18"><input class="check-all" type="checkbox" /></th>
              <th width="125">列表1</th>
              <th width="65">列表2</th>
              <th width="153">列表3</th>
              <th width="120">列表4</th>
              <th width="106">列表5</th>
            </tr>
          </thead>
          <tbody>
            <tr class="backcolor">
              <td><input type="checkbox" /></td>
              <td>内容</td>
              <td><a href="#" title="title">内容</a></td>
              <td>内容</td>
              <td>内容</td>
              <td>内容</td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td>内容</td>
              <td><a href="#" title="title">内容</a></td>
              <td>内容</td>
              <td>内容</td>
              <td>内容</td>
            </tr>
            <tr class="backcolor">
              <td><input type="checkbox" /></td>
              <td>内容</td>
              <td><a href="#" title="title">内容</a></td>
              <td>内容</td>
              <td>内容</td>
              <td>内容</td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td>内容</td>
              <td><a href="#" title="title">内容</a></td>
              <td>内容</td>
              <td>内容</td>
              <td>内容</td>
            </tr>
            <tr class="backcolor">
              <td><input type="checkbox" /></td>
              <td>内容</td>
              <td><a href="#" title="title">内容</a></td>
              <td>内容</td>
              <td>内容</td>
              <td>内容</td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td>内容</td>
              <td><a href="#" title="title">内容</a></td>
              <td>内容</td>
              <td>内容</td>
              <td>内容</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>